.gallery-portrait-txt {
  background-color: $color-grey-light-1;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(autofill, 35, 5vw);

  grid-gap: 2rem;
  //padding: 2.5rem;
  position: relative;
  top: 8.2rem;

  @media screen and (max-width: 900px) {
    grid-gap: 1rem;
  }

  &__item {
    position: relative;

    @include gallery-portrait-img-text;

    &-caption {
      @include gallery-caption-text;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &-text {
    @include gallery-main-text;
  }

  &-text2 {
    @include gallery-main-text2;
  }
}
